In [1]:
!pip install konlpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting konlpy
  Downloading konlpy-0.6.0-py2.py3-none-any.whl (19.4 MB)
     |████████████████████████████████| 19.4 MB 674 kB/s
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.21.6)
Collecting JPype1>=0.7.0
  Downloading JPype1-1.4.1-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (465 kB)
     |████████████████████████████████| 465 kB 69.6 MB/s
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.9.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (4.1.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->JPype1>=0.7.0->konlpy) (3.0.9)
Installing collected packages: JPype1, konlpy
Successfully installed JPype1-1.4.1 konlpy-0.6.0

In [2]:
import numpy as np
import pandas as pd

import json
import re

from tqdm.notebook import tqdm
from konlpy.tag import Okt # komoran, hannanum, kkma, mecab
from sklearn.model_selection import train_test_split

In [3]:
import pandas as pd
df_lyrics = pd.read_excel('song_lyrics_labeled (1).xlsx')

X_train, X_test, y_train, y_test = train_test_split(df_lyrics['lyrics'], df_lyrics['love'], test_size=0.2, stratify=df_lyrics['love'], shuffle=True, random_state=0)

X_train[0], y_train[0]

('하루의 일을 끝내고 돌아가는거리엔 사람의 물결하늘엔 별이 하나 둘 반짝이면가로등 하나 둘 꽃 피네허공을 스치는 바람은 차고흐뭇한 마음은 애드베룬가벼운 발길 헤어질 때 인사는내일 또 다시 만납시다하루의 일을 끝내고 돌아가는거리엔 사람의 물결하늘엔 별이 하나 둘 반짝이면가로등 하나 둘 꽃 피네허공을 스치는 바람은 차고흐뭇한 마음은 애드베룬가벼운 발길 헤어질 때 인사는내일 또 다시 만납시다내일 또 다시 만납시다',
 0)

In [4]:
def preprocessing(review):
    okt = Okt()
    
    f = open('stop_list.txt')
    stop_words = f.read().split()
    
    # 1. 한글 및 공백을 제외한 문자 모두 제거.
    review_text = re.sub("[^가-힣\\s]", "", review)
    
    # 2. okt 객체를 활용해서 형태소 토큰화 + 품사 태깅
    word_review = okt.pos(review_text, stem=True)

    # 노이즈 & 불용어 제거
    word_review = [(token, pos) for token, pos in word_review if not token in stop_words and len(token) > 1]
    
    # 명사, 동사, 형용사 추출
    word_review = [token for token, pos in word_review if pos in ['Noun', 'Verb', 'Adjective', 'Adverb']]

    return word_review

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression

#okt.nouns를 tokenizer로 이용
tfidf = TfidfVectorizer(tokenizer=preprocessing, max_features=1000, min_df=1, max_df=0.5) 

X_train_tfidf = tfidf.fit_transform(X_train)
X_test_tfidf = tfidf.transform(X_test)

In [ ]:
X_train_tfidf[0]

<1x2000 sparse matrix of type '<class 'numpy.float64'>'
	with 10 stored elements in Compressed Sparse Row format>

train: 0.8, test: 0.2, shuffle = true, random_state = 0

TfidfVectorizer : max_features=2000, min_df=5, max_df=0.5

random forest : n_estimators = 100, max_depth=30, random_state = 0


# 사랑 (love)

Logistic Regression 
* Train set score: 0.884
* Test set score: 0.845

Random Forest
* Train set score: 0.988
* Test set score: 0.837

Naive Bayes
* Train set score: 0.856
* Test set score: 0.816

# 효 (filial)

Logistic Regression 
* Train set score: 0.989
*Test set score: 0.988

Random Forest
* Train set score: 1.000
* Test set score: 0.989

Naive Bayes
* Train set score: 0.993
* Test set score: 0.988

# 남녀평등 (equal)

Logistic Regression 
* Train set score: 0.996
* Test set score: 0.996

Random Forest
* Train set score: 1.000
* Test set score: 0.997

Naive Bayes
* Train set score: 0.998
* Test set score: 0.994

In [5]:
X_train, X_test, y_train, y_test = train_test_split(df_lyrics['lyrics'], df_lyrics['filial'], test_size=0.2, shuffle=True, random_state=0,stratify=df_lyrics['filial'])

#X_train[0], y_train[0]

In [28]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression

#okt.nouns를 tokenizer로 이용
tfidf = TfidfVectorizer(tokenizer=preprocessing, max_features=3000, min_df=5, max_df=0.1) 

X_train_tfidf = tfidf.fit_transform(X_train)
X_test_tfidf = tfidf.transform(X_test)

In [29]:
# 모델 1 : Logistic Regression 모형
from sklearn.linear_model import LogisticRegression

log_clf = LogisticRegression()
log_clf.fit(X_train_tfidf, y_train)
print('Train set score: {:.3f}'.format(log_clf.score(X_train_tfidf, y_train)))
print('Test set score: {:.3f}'.format(log_clf.score(X_test_tfidf, y_test)))

Train set score: 0.989
Test set score: 0.989

In [30]:
# 모델 2 : 트리 앙상블 모형
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier(n_estimators = 100, max_depth=100, random_state = 0, min_samples_split=2, min_samples_leaf=1)
model_rf.fit(X_train_tfidf, y_train)
print('Train set score: {:.3f}'.format(model_rf.score(X_train_tfidf, y_train)))
print('Test set score: {:.3f}'.format(model_rf.score(X_test_tfidf, y_test)))

Train set score: 1.000
Test set score: 0.990

In [31]:
# 모델 3 : Naive Bayes 분류모형
from sklearn.naive_bayes import MultinomialNB

NB_clf = MultinomialNB(alpha=0.001)
NB_clf.fit(X_train_tfidf, y_train)
print('Train set score: {:.3f}'.format(NB_clf.score(X_train_tfidf, y_train)))
print('Test set score: {:.3f}'.format(NB_clf.score(X_test_tfidf, y_test)))

Train set score: 0.999
Test set score: 0.991

In [38]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression

bow = CountVectorizer(tokenizer=preprocessing, min_df=1, max_df=0.5) 

# X_train_bow = bow.fit(X_train)
X_train_bow = bow.fit_transform(X_train)
X_test_bow = bow.transform(X_test)

In [39]:
# 모델 1 : Logistic Regression 모형
from sklearn.linear_model import LogisticRegression

log_clf = LogisticRegression()
log_clf.fit(X_train_bow, y_train)
print('Train set score: {:.3f}'.format(log_clf.score(X_train_bow, y_train)))
print('Test set score: {:.3f}'.format(log_clf.score(X_test_bow, y_test)))

Train set score: 1.000
Test set score: 0.992

In [40]:
# 모델 2 : 트리 앙상블 모형
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier(n_estimators = 100, max_depth=100, random_state = 0, min_samples_split=2, min_samples_leaf=1)
model_rf.fit(X_train_bow, y_train)
print('Train set score: {:.3f}'.format(model_rf.score(X_train_bow, y_train)))
print('Test set score: {:.3f}'.format(model_rf.score(X_test_bow, y_test)))

Train set score: 1.000
Test set score: 0.990

In [41]:
# 모델 3 : Naive Bayes 분류모형
from sklearn.naive_bayes import MultinomialNB

NB_clf = MultinomialNB(alpha=0.01)
NB_clf.fit(X_train_bow, y_train)
print('Train set score: {:.3f}'.format(NB_clf.score(X_train_bow, y_train)))
print('Test set score: {:.3f}'.format(NB_clf.score(X_test_bow, y_test)))

Train set score: 0.999
Test set score: 0.988

In [ ]:
# df_lyrics.groupby('year').sum()

In [ ]:
df_lyrics.groupby('year').sum()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,hope,money,love,filial,friend,equal,swear,nature,regret,memory,sf,food,confi,enjoy
year,,,,,,,,,,,,,,,,,
1964,465,465,487,6,1,17,1,0,0,0,8,7,2,0,0,1,0
1965,1246,1246,1572,6,1,10,2,0,0,0,8,2,3,0,0,3,0
1966,2945,2945,4061,4,0,13,3,1,2,0,6,10,0,0,0,3,2
1967,5355,5355,7300,2,0,21,0,0,0,0,5,18,2,0,0,2,1
1968,6460,6460,8594,5,1,19,1,0,1,0,7,13,1,0,0,0,0
1969,9180,9180,12225,10,1,20,1,1,0,0,6,11,4,0,0,1,0
1970,11205,11205,14967,3,0,23,4,1,0,0,5,12,4,0,0,1,1
1971,13230,13230,18003,4,0,19,3,0,0,0,6,12,6,0,0,0,3
1972,19053,19053,23225,9,0,12,3,3,0,0,15,7,11,0,0,0,3
1973,19984,19984,24094,7,1,15,1,0,0,0,11,10,5,0,0,1,2
1974,26950,26950,36038,11,0,22,2,0,0,0,16,10,6,0,0,2,3
1975,23888,23888,29880,12,0,15,1,0,0,0,3,7,4,0,0,2,5
1976,22659,22659,30206,4,0,22,1,2,0,0,5,4,7,0,0,0,5
1977,27104,27104,36566,7,0,21,1,2,0,0,9,2,11,0,0,2,1
1978,35588,35588,47317,13,1,24,2,0,0,0,8,11,7,0,0,0,4
1979,43572,43572,55914,18,0,19,1,1,0,0,14,10,9,0,0,1,6
1980,34385,34385,45629,10,0,25,2,1,0,0,4,8,7,0,1,0,2
1981,39775,39775,53069,11,0,23,1,1,0,0,9,7,6,0,0,0,3
1982,42275,42275,56249,6,0,23,1,1,0,0,7,12,7,0,0,0,3
1983,41101,41101,54487,15,0,26,1,0,0,0,4,6,5,0,0,1,1
1984,87664,87664,114564,15,0,47,1,1,0,0,6,27,9,0,0,3,4
1985,121239,121239,158810,25,1,54,2,3,0,0,17,27,19,0,0,3,3
1986,144805,144805,188943,23,0,67,2,1,0,0,11,39,16,0,0,4,1
1987,157784,157784,203755,13,0,65,0,0,0,0,18,32,12,0,0,5,3
1988,212722,212722,277000,11,0,102,1,3,0,0,39,46,8,0,0,1,4
1989,220147,220147,271016,13,0,104,0,3,0,0,32,59,3,0,0,1,1
1990,238831,238831,296366,15,0,110,1,1,0,0,21,50,4,0,0,1,0
1991,271545,271545,330041,12,0,118,0,3,0,0,9,55,1,0,0,1,2
1992,321020,321020,388826,8,2,134,0,4,0,0,8,57,4,0,1,1,0
1993,378135,378135,451110,15,0,129,2,12,0,0,7,43,24,0,0,3,1
1994,411053,411053,487632,12,0,138,2,9,0,0,8,33,20,2,3,9,3
1995,573804,573804,667701,28,3,174,3,18,0,0,6,52,20,0,0,11,2
1996,458646,458646,533064,6,0,141,1,1,0,0,4,45,12,0,0,9,14
1997,424057,424057,488897,11,0,117,1,1,0,0,11,24,10,0,0,13,10
1998,386241,386241,442756,7,2,108,2,1,0,0,4,24,9,0,0,3,8
1999,783159,783159,892401,20,0,213,4,0,5,0,4,9,3,0,0,1,1
2000,499539,499539,564655,14,0,122,1,2,7,0,0,3,0,0,0,0,1
2001,528138,528138,594146,5,0,137,0,1,3,0,1,25,0,0,1,0,0
2002,425500,425500,476790,11,1,102,1,0,2,0,1,30,0,0,0,0,0
2003,496925,496925,556882,15,0,111,1,1,0,0,9,37,1,1,0,0,1
2004,496025,496025,560159,15,0,107,0,7,0,0,4,15,2,0,0,1,2
2005,515895,515895,584235,9,0,113,0,1,1,0,2,19,2,0,0,7,0
2006,593751,593751,671890,7,0,127,0,0,0,0,1,23,3,0,1,7,5
2007,600369,600369,687591,9,2,121,0,0,0,0,1,22,9,0,0,1,8
2008,592086,592086,687118,4,0,115,0,1,0,0,1,35,7,0,0,3,8
2009,618879,618879,718977,6,0,116,0,0,1,0,0,26,2,0,2,5,5
2010,583881,583881,679962,0,0,103,0,0,1,0,1,37,12,0,0,9,12
2011,633555,633555,739556,5,0,100,0,0,0,0,1,39,10,0,1,7,19
2012,584649,584649,684002,5,2,101,0,0,1,1,2,45,7,0,0,7,9
2013,655296,655296,769735,5,2,112,0,1,1,2,0,36,2,0,2,7,7
2014,634524,634524,748904,6,5,101,2,1,0,4,1,30,5,0,1,11,6
2015,660018,660018,783189,7,7,98,3,4,0,5,1,26,3,1,0,15,8
2016,697357,697357,830573,14,6,104,3,2,0,2,0,31,4,0,1,14,6
2017,698622,698622,837663,9,7,103,3,1,0,2,0,40,4,0,1,8,1
2018,665550,665550,795146,10,4,97,1,4,0,0,5,29,0,0,1,7,7
2019,732250,732250,874301,5,6,106,0,2,1,3,10,34,1,0,0,4,1
2020,804459,804459,965871,28,4,95,2,2,0,3,9,25,0,3,0,4,1
2021,882360,882360,1056088,27,11,101,3,4,0,4,5,34,0,2,1,5,1